@import '../css/variables.css';

.intro {
  background: none;
  color: var(--colorBlack);
  padding: 0 4vw;
}

.intro h1 {
  font-size: 2.75rem;
  line-height: 1.5;
}

.link {
  border-bottom: 3px solid var(--colorBlack);
}

.highlight {
  background-color: #000;
  color: #fff;
  width: fit-content;
}

@media (--small) {
  .intro h1 {
    font-size: 1.7142rem;
  }
  .link {
    border-width: 2px;
  }
}
