@import '../../css/variables.css';

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20vh;
  align-items: center;
}

.contact a {
  border-bottom: 0;
}
.lineBreak {
  height: 3px;
  width: 200px;
  background: var(--colorBlack);
  margin: calc(var(--gutter) * 1) 0;
}

.email {
  font-size: 1.333rem;
}

.link:hover {
  border-bottom: 1px solid;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social li {
  margin: calc(var(--gutter));
}

