@import '../../css/variables.css';

.mainWrapper {
  background-color: rgba(255, 255, 255, 0.72);
  padding-top: 36vh;
}

.worksTitle {
  text-align: center;
  position: relative;
  top: -16vh; 
}

.profolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}


.contact {
  padding: 10vh 0;
}
