.avatar {
  width: 8rem;
  height: 8rem;
  background: url("./img/avatar.jpg") no-repeat #ccc;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 0.5rem 3rem -0.5rem rgba(0, 0, 0, 0.3);
}